<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="https://rawgit.com/kangax/fabric.js/master/dist/fabric.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/canvasHandling.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div class="container">
    <canvas id="canvas" width="500" height="300"></canvas>
    <script>draw()</script>
    <label for="drawing-color">Line color:</label>
    <input type="color" value="#005E7A" id="drawing-color"/>

    <label for="drawing-mode-selector">Mode:</label>
    <select id="drawing-mode-selector">
        <option>Small</option>
        <option>Mid</option>
        <option>Large</option>
    </select>

    <script type="text/javascript">
        drawPanel()
    </script>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>